body {
    font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    background: #3AAFAB;
    color: black;
    padding: 50px 0;
  }
  
  .chat-container {
    padding: 10px;
    height: 85vh;
    max-width: 1200px;
    margin: 0 auto;
    background:#f2f2f2;
    display: grid;
    grid-template-columns: minmax(150px,1fr) 3fr ;
  }
  
  .chat-container * {
    box-sizing: border-box;
  }
  
  .chat-sidebar {
    background-color: #eef9f9;
    padding-left: 10px;
   
    
  }
  .chat-active-user{
    font-weight: 800;
    
  }
  .chat-users{
    list-style-type: none;
    padding: 5px 0px;
    text-transform: capitalize;
   
  }
  
  .chat-main {
    display: grid;
    grid-template-rows: 1fr 50px ;
   
    
  }
  .chat-messages{
    display: flex;
    align-items: flex-end;
  }
  .chat-messageInput > input{
    width: 100%;
    padding: 10px;
  }
  
  .chat-messagesPanel{
    list-style-type: none;
    padding: 5px 0px;
    width: 100%;
  }
  .chat-messagesPanel > li{
    margin:5px;
    padding: 15px 2px;
    border: .1px solid gray;
    text-align:left;
  }


 
  